@model NetCoreAI.Project02_ApiConsumeUI.Dtos.GetByIdCustomerDto
@{
    ViewData["Title"] = "CreateCustomer";
}

<h1>CreateCustomer</h1>
<form method="post">
    <div class="cntainer">
        <input type="hidden" asp-for"CustomerId" />
        <br /><br />
        <label>Musteri Adi</label>
        <input type="text" asp-for="CustomerName" class="form-control" />
        <br />
        <label>Musteri Soyadi</label>
        <input type="text" asp-for="CustomerSurname" class="form-control" />
        <br />
        <label>Musteri Bakiye</label>
        <input type="text" asp-for="CustomerBalance" class="form-control" />
        <br />
        <button class="btn btn-dark">Musteriyi Guncelle</button>
    </div>
</form>